<main class="form-signin text-center mt-5">

  <form (submit)="onSubmitLogin()">
    
    <i class="fa fa-book" aria-hidden="true" width="" height="57"></i>
    <h1 class="h3 mb-3 fw-normal">Lamb Learning</h1>

    <div class="form-floating">
      <input type="email" class="w-50%s form-control" name="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password"  placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-30 mb=120 btn btn-lg btn-primary" type="submit">Sign in</button>
    <button class="inline-block rounded-md bg-purple-500 px-6 py-2 font-semibold text-green-100 shadow-md duration-75 hover:bg-purple-400">
      <a class="text-white nav-link" href="">Dirigirse</a>
  </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
  </form>
</main>
