<app-menu></app-menu>

<div class="container mt-28">
    <div class="jumbotron">
        <h1 class="display-4" *ngIf="!nameUser">Hola!,admin</h1>
        <h1 class="display-4" *ngIf="nameUser">Hello, {{nameUser}}</h1>
        <p class="lead">Aqui encontraras muchas ayudas para la investigacion</p>

        <div class="mt-8 flex flex-col items-center justify-center  px-4 sm:flex-row sm:space-x-6 sm:space-y-0">

            <div  href="" class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl cursor-pointer ">

                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto mt-8 h-16 w-16 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>

             <h1 class="mt-2 text-center text-2xl font-bold text-gray-500">Plantillas</h1>
            <p class="my-4 text-center text-sm text-gray-500">Descarga plantillas de Investigación</p>
            <div class="space-x-4 bg-gray-100 py-4 text-center">

             <button class="inline-block rounded-md bg-blue-500 px-6 py-2 font-semibold text-green-100 shadow-md duration-75 hover:bg-green-400">
                <a class="text-white nav-link" href="">Dirigirse</a>
             </button>
             </div>
            </div>
            <div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto mt-8 h-16 w-16 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                <h1 class="mt-2 text-center text-2xl font-bold text-gray-500">Convocatorias</h1>
                <p class="my-4 text-center text-sm text-gray-500">Realiza el registro de Pagos</p>
                <div class="space-x-4 bg-gray-100 py-4 text-center">
                    <button class="inline-block rounded-md bg-blue-500 px-10 py-2 font-semibold text-red-100 shadow-md duration-75 hover:bg-red-400">
                        <a class="text-white nav-link" href=" ">Dirigirse</a>
                    </button>

                </div>
            </div>
            <div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto mt-8 h-16 w-16 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>
                <h1 class="mt-2 text-center text-2xl font-bold text-gray-500">Mis Proyectos</h1>
                <p class="my-4 text-center text-sm text-gray-500">Realiza el registro de Pagos</p>
                <div class="space-x-4 bg-gray-100 py-4 text-center">
                    <button class="inline-block rounded-md bg-blue-500 px-10 py-2 font-semibold text-red-100 shadow-md duration-75 hover:bg-red-400">
                        <a class="text-white nav-link" href=" ">Dirigirse</a>
                    </button>

                </div>
            </div>

      </div>
    </div>
</div>
