<app-menu></app-menu>

<main class="form-signin text-center mt-5">

    <form #f="ngForm" novalidate (ngSubmit)="onRegisterAdviser()">

        <svg xmlns="http://www.w3.org/2000/svg" class=" mx-auto mt-8 h-16 w-16 text-blue-900" fill="none"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
        </svg>

        <h1 class="h3 mb-3 fw-normal text-blue-900">Lamb Investigation</h1>

        <h3 class="h3 mb-3 fw-normal text-blue-600"> Registro de Nuevo Asesor</h3>

        <div class="mx-auto w-96 font-calibri">
            <div class="form-floating mb-2">
                <input type="text" class=" form-control" name="name" id="name" autocomplete="off" required
                    [(ngModel)]="name" placeholder="Nombre">
                <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" name="username" id="username" required
                    [(ngModel)]="username" placeholder="Nombre de Usuario">
                <label for="floatingPassword">Nombre de Usuario</label>
            </div>
            <div class="form-floating mb-2">
                <input type="email" class="form-control" name="email" id="email" required
                    [(ngModel)]="email" placeholder="Correo">
                <label for="floatingPassword">Correo</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" name="password" id="password" required
                    [(ngModel)]="password" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>
        </div>

        <div class="checkbox mb-3"></div>

        <button
            class="inline-block rounded-md bg-purple-500 px-6 py-2 font-semibold text-green-100 shadow-md duration-75 hover:bg-purple-400"
            type="submit">
            <a class="text-white nav-link">Registrarse</a>
        </button>
        <button
            class="ml-1 inline-block rounded-md bg-blue-500 px-6 py-2 font-semibold text-green-100 shadow-md duration-75 hover:bg-blue-400" routerLink="/login">
            <a class="text-white nav-link">Iniciar Sesión</a>
        </button>
        <button
            class="ml-1 inline-block rounded-md bg-red-500 px-6 py-2 font-semibold text-green-100 shadow-md duration-75 hover:bg-red-400">
            <a class="text-white nav-link" href="">Registrarse con Google</a>
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
    </form>
</main>
