<app-menu></app-menu>
<div class="container wrapper">
    <div class="row">
        <!-- table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Escuelas Profesionales</h3>
                <a class="btn btn-primary text-white add">
                  <i class="fas fa-user-plus"></i> Agregar
                </a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Archivo</th>
                            <th scope="col">Fecha registro</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of articleList">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.archivo}}</td>
                            <td>{{item.created_at}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" routerLink="/show-article/{{item.id}}" value="Download">Descargar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  