<app-menu></app-menu>
<div class="py-10">
  <div class="max-w-screen-2xl mx-auto sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
        <div class="p-6 sm:px-20 bg-slate-900 border-b border-gray-200">

          <div class=" text-white mt-2 text-2xl" *ngIf="nameUser">
              ¡HOLA, {{nameUser}}
          </div>

          <div class="mt-6 text-white">
              ¿Qué deseas hacer el dia de hoy?
          </div>
      </div>
      <div class="div">
        <app-listp></app-listp>
      </div>
      <div class="flex">
      <div class="bg-gray-200 duration-300 max-h-fit max-w-3xl rounded overflow-hidden shadow-md my-2 mx-2 hover:shadow-xl ">
        <div class="px-6 pt-3">
          <div class="font-bold text-xl mb-2">Mis estudiantes</div>
          <p class="text-grey-darker text-base">
          ¡Aqui encontraras a tus asesorados, y ver sus articulos!
          </p>
          <button type="button"  class="mx-20 text-white bg-gradient-to-r from-black via-teal-800 to-gray-700 hover:bg-gradient-to-br focus:ring-4 focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            <a href="https://github.com/Andrepaolo" class="nav-link px-3">Ver</a>
        </button>

        </div>

      </div>
      <div class="bg-gray-200 duration-300 max-h-fit max-w-3xl rounded overflow-hidden shadow-md my-2 mx-2 hover:shadow-xl ">
        <div class="px-6 pt-3">
          <div class="font-bold text-xl mb-2">Mis estudiantes</div>
          <p class="text-grey-darker text-base">
          ¡Aqui encontraras a tus asesorados, y ver sus articulos!
          </p>
          <button type="button"  class="mx-20 text-white bg-gradient-to-r from-black via-teal-800 to-gray-700 hover:bg-gradient-to-br focus:ring-4 focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            <a href="https://github.com/Andrepaolo" class="nav-link px-3">Ver</a>
        </button>

        </div>

      </div>


    </div>



      </div>
  </div>
</div>
