<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">LAMB INVESTIGATION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/list-student"><i class="far fa-list-alt"></i> Listas</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/add-student"><i class="fas fa-plus-circle"></i> Nuevo Producto</a>
      </li>

    </ul>
    <form class="d-flex" role="search">
      <button class="btn btn-success" routerLink="/login" *ngIf="!isLogged"><i
          class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</button>
      <button class="btn btn-light" routerLink="/register" *ngIf="!isLogged"><i
          class="fa-solid fa-right-to-bracket"></i> Registrarse</button>
      <button class="btn btn-danger" *ngIf="isLogged" (click)="logOut()"><i
          class="fa-solid fa-right-to-bracket"></i> Cerrar Sesión</button>
    </form>
  </div>
</nav>